/* /src/App.css (eller motsvarande) */

@import "tailwindcss";
@plugin "daisyui";






@plugin "daisyui/theme" {
    name: "carbonfate";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(90% 0.001 106.423);
    --color-base-200: oklch(88% 0.001 106.424);
    --color-base-300: oklch(83% 0.003 48.717);
    --color-base-content: oklch(21% 0.006 56.043);
    --color-primary: oklch(60% 0.126 221.723);
    --color-primary-content: oklch(98% 0.019 200.873);
    --color-secondary: oklch(68% 0.162 75.834);
    --color-secondary-content: oklch(98% 0.026 102.212);
    --color-accent: oklch(59% 0.145 163.225);
    --color-accent-content: oklch(97% 0.021 166.113);
    --color-neutral: oklch(44% 0.011 73.639);
    --color-neutral-content: oklch(98% 0.001 106.423);
    --color-info: oklch(62% 0.214 259.815);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(72% 0.219 149.579);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(70% 0.213 47.604);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(65% 0.241 354.308);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 2rem;
    --radius-field: 2rem;
    --radius-box: 2rem;
    --size-selector: 0.3125rem;
    --size-field: 0.3125rem;
    --border: 2px;
    --depth: 1;
    --noise: 1;
}


@plugin "daisyui/theme" {
    name: "delta";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(25% 0.004 49.25);
    --color-base-200: oklch(28% 0.006 56.043);
    --color-base-300: oklch(35% 0.007 34.298);
    --color-base-content: oklch(97% 0.001 106.424);
    --color-primary: oklch(62% 0.265 303.9);
    --color-primary-content: oklch(97% 0.014 308.299);
    --color-secondary: oklch(62% 0.214 259.815);
    --color-secondary-content: oklch(97% 0.014 254.604);
    --color-accent: oklch(69% 0.17 162.48);
    --color-accent-content: oklch(97% 0.021 166.113);
    --color-neutral: oklch(44% 0.011 73.639);
    --color-neutral-content: oklch(98% 0.001 106.423);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(26% 0.065 152.934);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 2rem;
    --radius-field: 2rem;
    --radius-box: 2rem;
    --size-selector: 0.3125rem;
    --size-field: 0.3125rem;
    --border: 2px;
    --depth: 1;
    --noise: 1;

}